@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, rgb(234, 227, 199), #fafafa);
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Particle styling */
.particle {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	animation: particleMove 20s linear infinite;
}

@keyframes particleMove {
	from {
		transform: translate(0, 100vh);
	}
	to {
		transform: translate(0, -100vh);
	}
}

/* Navbar */
.navbar-section {
}

.navbar-nav .nav-link {
	font-family: 'Poppins';
	color: #917878;
	font-size: 20px;
}
.navbar-nav .nav-link:hover {
	color: #917878;
	text-decoration: 2px underline;
	text-decoration-color: #cd7676;
	transition: 1s;
}
/* Navbar ends */

/* Hero starts */
.hero {
	padding: 10rem;
	display: flex;
	justify-content: center;
	/* height: 100vh; */
	width: 100vw;
	margin: 0;
}

.title-wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.title-text h1 {
	font-size: 4rem;
	overflow-y: hidden;
	color: #cd7676;
	text-align: center;
	font-family: 'Chakra Petch';
}

.title-text p {
	font-size: 1.5rem;
	color: #423737;
	text-align: center;
}
.title-wrapper .title-job {
	font-size: 2rem;
	color: #423737;
	text-align: center;
	font-family: 'Chakra Petch';
}

.icons > * {
	margin-right: 10px;
}

/* Hero ends */

/* About */
.about h2 {
	/* text-decoration: underline solid #423737 7px; */
	color: #423737;
	text-align: center;
	font-family: 'Chakra Petch';
	overflow-y: hidden;
	text-decoration: underline #cd7676;
}
.skills {
	padding-left: 15rem;
	padding-right: 15rem;
	text-align: center; /* Center the content horizontally */
}

.skills-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center the content horizontally */
	gap: 2rem; /* Add some space between skill cards */
}

.skill-card {
	width: 10rem; /* Adjust width to accommodate spacing */
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	perspective: 1000px;
	border-radius: 15px;
	/* background-color: #fafafa; */
}

.skill-icon {
	width: 4em;
	transition: 0.6s;
}

.skill-card:hover .skill-icon {
	transform: rotateY(180deg);
}

.skill-name {
	font-family: 'Poppins';
	color: #423737;
	padding: 0.7rem 0 0 0;
	font-weight: 600;
}

/* About ends */

@media only screen and (max-width: 768px) {
	.title-wrapper {
		padding: 7rem 2rem; /* Adjust padding for smaller screens */
	}

	.title-text h1,
	.title-text p {
		color: black;
	}

	/* Right side of the page */
	.welcome-message-container {
		padding: 7rem 2rem; /* Adjust padding for smaller screens */
	}
}

/* Projects */
.projects h2 {
	color: #423737;
	text-align: center;
	font-family: 'Chakra Petch';
	overflow-y: hidden;
	text-decoration: underline #cd7676;
}

.projects {
	padding-left: 15rem;
	padding-right: 15rem;
	text-align: center; /* Center the content horizontally */
}

/* Projects end */
